@media (min-width: 320px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .logo {
    width: 150px;
  }

  .find_example {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .find_example_list {
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header_menu {
    position: static;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    flex-direction: row;
    gap: 20px;
  }
  .find_title {
    text-align: left;
    font-size: 44px;
  }
  .find_wrapper {
    max-width: 90%;
    margin: 0;
  }
  .find_descr {
    font-size: 18px;
    text-align: left;
  }
  .find_btn span {
    display: block;
    color: #fff;
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .find_btn {
    width: 234px;
    height: 50px;
    padding: 15px 30px;
  }

  .header .container {
    display: flex;
    align-items: center;
  }

  .header_box {
    display: block;
  }
  .hamburger {
    display: none;
  }
  .header_list {
    flex-direction: row;
    gap: 20px;
  }
  .header_list a {
    font-size: 16px;
  }
  .header_box {
    display: flex;
    align-items: center;
    gap: 35px;
  }
  .header img {
    width: 132px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    font-size: 16px;
  }
  .find_wrapper {
    max-width: 460px;
  }
  .find_img {
    margin: 0;
    width: 50%;
  }
  .find_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
